<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
    <title ng-bind="'myApp &mdash; ' + title">Costello</title>
	
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Costello is a psychedelic/garage/experimental rock group from Norman, OK. The band consists of guitarist, vocalist and lyricist Clare Costello, bassist Felix Rodriguez and Flaming Lips drummer Matt Duckworth." />
    <meta name="keywords" content="Costello band, Clare Costello, Costello, Costell Music, Costello band ok, Costello Oklahoma band, Costello Oklahoma, Costello rock, rock music, local music, pscyh rock, psych rock oklahoma, okc band, okc bands" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css?20171102" media="all">
  	<noscript><link rel="stylesheet" href="css.css"></noscript>
    <link rel="icon" href="myicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="myicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="home" href="{{ siteUrl }}" />
	<!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Bitter|Yanone+Kaffeesatz|Fjalla+One' rel='stylesheet' type='text/css'>  <base href="/">
    <link href='//fonts.googleapis.com/css?family=Lora|Shadows+Into+Light|Oswald|Slabo+27px|Dancing+Script|Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Cinzel|Allerta+Stencil|Six+Caps|Fredericka+the+Great|Megrim' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,700,900|Open+Sans:400,700" rel="stylesheet">
</head>

<body>
	<main id="#content">
      {% block content %}
      {% endblock %}
    </main>
    {% include 'page-parts/footer.html' %}
</body>
  <script src="/js/script.js?20171102"></script>
</html>