<div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
  <div class="col-md-6 col-sm-6 col-xs-12" id="footerLeft">
    <a style="color:#bfbfbf;" href="http://www.rileyjoseph.co">
      Copyright &copy; Costello 2017
    </a>
  </div>
  <div id="copywrite" class="col-md-1 col-sm-1 col-xs-1">

  </div>
  <div class="col-md-1 col-sm-1 col-xs-1 footer-icons">
    <!-- <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a> -->
    <!-- <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-2x"></i></a> -->
    <!-- <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a> -->
    <!-- <a href="https://open.spotify.com/artist/4wJW3tvY1lVxNxCh7J5T8Y"><i class="fa fa-spotify fa-2x"></i></a> -->
    <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
    <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
</div>