<div id="banner" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div id="cf" class="container-fluid">
        <!-- <div class="navbar-header"> -->
        <div>
<!--         <div id="navLeft">
          <a href="/" id="bannerA"><h1 class="bannerText" font-family="Majesti-Banner-Medium">COSTELLO</h1></a>
        </div> -->
        <div class="nav-center">
          <a href="/" class="nav-home"><h1 class="bannerText" font-family="Majesti-Banner-Medium">COSTELLO</h1></a>
        </div>
          <button type="button" class="navbar-toggle" id="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bannerLinks">
            <ul class="nav navbar-nav navbar-right">
              <!-- <li><a class="bannerLinks" href="http://www.costellobandok.bandcamp.com">Bandcamp</a></li> -->
              <!-- <li><a class="bannerLinks" href="/about/about-the-band">About</a></li> -->
              <!-- <li><a class="bannerLinks" href="/about/contact">Contact</a></li> -->
              <!-- <li><a class="bannerLinks" href="/gallery">Gallery</a></li> -->
            </ul>
        </div>
    </div>
</div>