<div id="sideBarBlack" class="sideBarBlack">
    <center>
    <a href="{{ links.facebook }}"><i class="fa fa-facebook-square fa-3x"></i></a><br>
    <a href="{{ links.instagram }}"><i class="fa fa-instagram fa-3x"></i></a><br>
    <a href="{{ links.twitter }}"><i class="fa fa-twitter-square fa-3x"></i></a><br>
    <a href="{{ links.youtubeChannel }}"><i class="fa fa-youtube-square fa-3x"></i></a><br>
    <a href="{{ links.spotify }}"><i class="fa fa-spotify fa-3x"></i></a><br>
    <a href="#"><i class="fa fa-soundcloud fa-3x"></i></a><br>
    </center>
</div>